.App {
  text-align: center;
  background-color: blueviolet;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  height: 800px;
  width: "80%";
  position: relative;
}

.header {
  height: 300px;
  position: center;
}

.answer {
  position: absolute;
  bottom: 0px;
}

.menu {
  float: right;
  background-color: #e0e1e2 !important;
}

.gameboard {
  text-align: center;
  align-content: space-between;
}

.infobutton {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.displayTableRow {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2.5em;
}

.displayKeyRow {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 1.5em;
}

.gameboard-row {
  padding: 5px !important;
  margin: 0px !important;
}

.border {
  border: black !important;
  border-width: thin;
}

.main {
  background-color: #b6bec8;
}

.peg-choices {
  display: flex;
  justify-content: center;
  height: 3em;
}
.showAnswer {
  background-color: #b6bec8 !important;
}

.modal {
  transform: translate("25%", "25%") !important;
}
.restart {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
