.App {
  text-align: center;
  background-color: blueviolet;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  height: 800px;
  width: "80%";
  position: relative;
}

.header {
  height: 300px;
  position: center;
}

.answer {
  position: absolute;
  bottom: 0px;
}

.gameboard {
  text-align: center;
  background-color: #4c4c64b3;
  align-content: space-between;
}

.gameInfo {
  align-content: center;
}

.pegBin {
  background-color: #4c4c64b3;
  height: 5em;
}

.infobutton {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.displayTableRow {
  background-color: #b6bec8 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.displayKeyRow {
  background-color: #b6bec8 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.7em;
}

.keyRow {
  margin-top: 5px;
  margin-bottom: 5px;
}

.border {
  border: black !important;
  border-width: thin;
}

.pegCard {
  min-height: 300px;
  background-color: #b6bec8 !important;
  margin: "1em 0 1em 0";
}
.showAnswer {
  background-color: #b6bec8 !important;
}

.modal {
  transform: translate("25%", "25%") !important;
}
.restart {
  background-color: #b6bec8;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
